@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-6">
        <h2>Blogs</h2>
        <ul>
            <li><a href="~/posts/2018/08/24/markdown-cheat-sheet.md">Markdown cheat sheet (.md file)</a></li>
        </ul>
    </div>
</div>
